#fountainG, #fountainGM, #fountainGNS, #fountainGS, #fountainGU{
	position:relative;
	width:120px;
	height:14px;
	margin:auto;
	margin-top: 1%;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgba(0,0,0,0.46);
	width:14px;
	height:14px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.165s;
		-o-animation-duration:1.165s;
		-ms-animation-duration:1.165s;
		-webkit-animation-duration:1.165s;
		-moz-animation-duration:1.165s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:9px;
		-o-border-radius:9px;
		-ms-border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
}

#fountainG_1{
	left:0;
	animation-delay:0.466s;
		-o-animation-delay:0.466s;
		-ms-animation-delay:0.466s;
		-webkit-animation-delay:0.466s;
		-moz-animation-delay:0.466s;
}

#fountainG_2{
	left:15px;
	animation-delay:0.5825s;
		-o-animation-delay:0.5825s;
		-ms-animation-delay:0.5825s;
		-webkit-animation-delay:0.5825s;
		-moz-animation-delay:0.5825s;
}

#fountainG_3{
	left:30px;
	animation-delay:0.699s;
		-o-animation-delay:0.699s;
		-ms-animation-delay:0.699s;
		-webkit-animation-delay:0.699s;
		-moz-animation-delay:0.699s;
}

#fountainG_4{
	left:45px;
	animation-delay:0.8155s;
		-o-animation-delay:0.8155s;
		-ms-animation-delay:0.8155s;
		-webkit-animation-delay:0.8155s;
		-moz-animation-delay:0.8155s;
}

#fountainG_5{
	left:60px;
	animation-delay:0.932s;
		-o-animation-delay:0.932s;
		-ms-animation-delay:0.932s;
		-webkit-animation-delay:0.932s;
		-moz-animation-delay:0.932s;
}

#fountainG_6{
	left:75px;
	animation-delay:1.0485s;
		-o-animation-delay:1.0485s;
		-ms-animation-delay:1.0485s;
		-webkit-animation-delay:1.0485s;
		-moz-animation-delay:1.0485s;
}

#fountainG_7{
	left:90px;
	animation-delay:1.165s;
		-o-animation-delay:1.165s;
		-ms-animation-delay:1.165s;
		-webkit-animation-delay:1.165s;
		-moz-animation-delay:1.165s;
}

#fountainG_8{
	left:105px;
	animation-delay:1.2915s;
		-o-animation-delay:1.2915s;
		-ms-animation-delay:1.2915s;
		-webkit-animation-delay:1.2915s;
		-moz-animation-delay:1.2915s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgba(49,72,130,0.98);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(39,233,240);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgba(49,72,130,0.98);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(39,233,240);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgba(49,72,130,0.98);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(39,233,240);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgba(49,72,130,0.98);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(39,233,240);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgba(49,72,130,0.98);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(39,233,240);
	}
}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}